<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>AppComponent</h1>
      <hr>
      <app-servers></app-servers>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>
        <!--<div *ngIf="!onlyOdd">-->
          <!--<li-->
            <!--class="list-group-item"-->
            <!--[ngClass]="{odd: even % 2 !== 0}"-->
            <!--[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"-->
            <!--*ngFor="let even of evenNumbers">-->
            <!--{{ even }}-->
          <!--</li>-->
        <!--</div>-->
        <!--<ng-template [ngIf]="!onlyOdd">-->
          <!--<div>-->
            <!--<li-->
              <!--class="list-group-item"-->
              <!--[ngClass]="{odd: even % 2 !== 0}"-->
              <!--[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"-->
              <!--*ngFor="let even of evenNumbers">-->
              <!--{{ even }}-->
            <!--</li>-->
          <!--</div>-->
        <!--</ng-template>-->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div>
      </ul>
      <hr>
      <p appBasicHighlight>Basic Directive</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Better Highlight Directive</p>
    </div>
  </div>
</div>